<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hey!!! This is Madhusudan</title>

    <script>
        function hey() {
            document.getElementById("demo").innerHTML = "Fine";
        }

        let me;
    </script>



</head>

<body>
    <h1>Namste Dosto!!</h1>
    <p id="demo">How are you!!!</p>
    <button type="button" onclick="hey()">check here</button>


</body>

</html>